h1 {
  font-weight: 300;
  font-size: 30px;
}

h2 {
  font-weight: 200;
  font-size: 20px;
}

.live {
  font-weight: 300;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  align-items: stretch;
  padding-bottom: 20px;
}

.livenew {
  font-weight: 300;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  align-items: stretch;
  padding-bottom: 5px;
}

.center {
  margin: auto;
  max-width: 50%;
  padding: 30px;
}